In [2]:
import pandas as pd
import numpy as np

nyc_data = pd.read_csv('https://raw.githubusercontent.com/DanielleRomanoff/DS-Unit-1-Project_Dog_Bites/master/NYC%20dog%20bite%20data.csv')
nyc_data.shape

(8707, 9)

In [3]:
nyc_data.head()

,UniqueID,DateOfBite,Species,Breed,Age,Gender,SpayNeuter,Borough,ZipCode
0,8140,December 02 2015,DOG,Pug,7,F,True,Staten Island,NaN
1,1,January 27 2015,DOG,Jack Russ,11,M,False,Brooklyn,11217
2,2,January 25 2015,DOG,"Mastiff, Bull",NaN,U,False,Brooklyn,NaN
3,3,January 20 2015,DOG,PIT BULL/GOLDEN RETRIVE X,NaN,U,False,Brooklyn,11236
4,4,December 26 2014,DOG,Doberman Pinscher,NaN,M,False,Brooklyn,11204

In [4]:
nyc_data.isna().sum()

UniqueID         0
DateOfBite       0
Species          0
Breed            1
Age           3245
Gender           0
SpayNeuter       0
Borough          0
ZipCode       1864
dtype: int64

In [15]:
nyc_data['SpayNeuter'].value_counts()

False    5735
True     2972
Name: SpayNeuter, dtype: int64

In [16]:
breed_list = nyc_data['Breed'].value_counts()
breed_list

Pit Bull                                  1919
Shih Tzu                                   358
American Pit Bull Mix / Pit Bull Mix       347
American Pit Bull Terrier/Pit Bull         343
Chihuahua                                  340
German Shepherd                            274
Mixed/Other                                267
Yorkshire Terrier                          230
UNKNOWN                                    188
Maltese                                    187
Rottweiler                                 162
Labrador Retriever                         161
Bull dog                                   119
Siberian Husky                             117
Poodle, Standard                           108
Jack Russ                                  108
Cocker Spaniel                              97
Labrador Retriever Crossbreed               82
American Staffordshire Terrier              80
TERRIER                                     79
Beagle                                      73
Boxer                                       64
Golden Retriever                            58
Pomeranian                                  57
MIXED                                       54
Shiba Inu                                   52
Bull Dog, English                           45
Bull Dog, French                            45
Chihuahua Crossbreed                        44
Bichon Frise                                42
                                          ...
BORDER COLLIE & AUSTRALIAN BLUE HEELER       1
ALASKAN KLEE KAI                             1
JACK RUSS/BULLY PIT BULL                     1
BULL DOG MIXED TERRIER                       1
DASCHUND                                     1
WILD DOG                                     1
CHIHUAHUA/POMERANIAN                         1
YORKIE / CHIHUAHUA MIX                       1
GOLDEN RETRIVER MIX                          1
CHIHUAHUA/TERRIER                            1
BOSTEN TERRIER/ FRENCH BULL DOG              1
CATAHOULA LEOPARD DOG                        1
PARSON RUSSELL TERRIEER                      1
LABRADOR RETR/PIT BULL X                     1
COCKER/CORGI X                               1
BLUE NOSE PITBULL                            1
ITALIAN MASTIFF/AMERICAN PIT BULL            1
CATAHOULA CUR                                1
HAVANESE/ POODLE MIX                         1
LAB RETRIEVER/ PIT BULL                      1
AUST KELPIE/AM PIT BULL X                    1
MIN SCHNAUZER/MIN POODLE                     1
SHIH TZU/ LHASA APSO                         1
LABRADOR / CHOW CHOW MIX                     1
AUSTRALIAN CATTLE DOG MIX                    1
AUST TERRIER/ YORKIE                         1
/SHIH TZU MIX                                1
BOXER/PITBULL MIX                            1
AMERICAN PITBULL/ LABRADOR RETRIEVER         1
COCKER SPAN/ POODLE X                        1
Name: Breed, Length: 1034, dtype: int64

In [46]:
nyc_data_new = nyc_data.drop(columns = ['Age', 'ZipCode'])
nyc_data_new = nyc_data_new.drop(nyc_data[nyc_data['Breed'] == 'UNKNOWN'].index)
nyc_data_new = nyc_data_new.drop(nyc_data[nyc_data['Breed'] == 'not given'].index)
nyc_data_new['SpayNeuter'] = nyc_data_new['SpayNeuter'].replace({False: 0, True: 1})
# nyc_data_new = nyc_data_new.drop(breed_list < 25, axis = 0)
nyc_bite_fixed = pd.DataFrame(nyc_data_new, columns = ['Breed', 'Gender', 'SpayNeuter'])
nyc_bite_fixed.head()

                       Breed Gender  SpayNeuter
0                        Pug      F           1
1                  Jack Russ      M           0
2              Mastiff, Bull      U           0
3  PIT BULL/GOLDEN RETRIVE X      U           0
4          Doberman Pinscher      M           0

In [47]:
# pd.pivot_table(nyc_bite_fixed, index = ['Breed', 'Gender'], columns = ['SpayNeuter'],  aggfunc = 'count')
pd.crosstab([nyc_bite_fixed.Breed, nyc_bite_fixed.Gender], nyc_bite_fixed.SpayNeuter, margins = True)

SpayNeuter                                              0     1   All
Breed                                        Gender
/SHIH TZU MIX                                M          1     0     1
2 DOGS: TERR X & DOBERMAN                    F          0     1     1
AFRICAN BOERBOEL                             M          1     0     1
AIREDALE TERRIER                             M          0     1     1
AKITA/CHOW CHOW                              M          1     0     1
ALAPAHA BULLDOG                              M          1     0     1
ALASKA HUSKY                                 U          1     0     1
ALASKAN HUSKY                                M          1     1     2
ALASKAN HUSKY MIX                            U          1     0     1
ALASKAN HUSKY/LABRADOR RETR                  M          1     0     1
ALASKAN KLEE KAI                             F          1     0     1
ALASKAN MALAMUTE                             U          1     0     1
ALASKAN MALMUTE                              M          1     0     1
ALPACA                                       U          1     0     1
AMER BULL TERRIER                            M          1     0     1
AMER STAFF/AM PIT BULL TERR                  F          0     1     1
AMER STAFF/LAB X                             M          1     0     1
AMER STAFFORDSHIRE X                         F          0     1     1
AMERICAN BULL                                F          1     0     1
AMERICAN BULL / STAFFORD TERRIER             M          0     1     1
AMERICAN BULL DOG                            M          1     0     1
                                             U          1     0     1
AMERICAN BULLDOG                             F          0     1     1
                                             M          3     0     3
AMERICAN BULLDOG/GREAT PYRENEES              F          0     1     1
AMERICAN BULLY                               F          0     3     3
                                             M          5     1     6
AMERICAN BULLY (PIT BULL)                    M          0     1     1
AMERICAN BULLY MIX                           M          0     1     1
AMERICAN ESKIMO / HUSKY MIX                  M          0     1     1
...                                                   ...   ...   ...
YORKIE CHON                                  M          0     1     1
YORKIE MALTESE MIX                           M          1     0     1
YORKIE MIX                                   M          0     2     2
YORKIE POO                                   M          0     1     1
YORKIE POO- YORKSHIRE TERRIER/MALTESE/POODLE F          0     1     1
YORKIE POODLE                                M          0     1     1
YORKIE/ SHIH TZU                             M          1     0     1
YORKIE/BICHON                                M          1     0     1
YORKIE/CHIHUAHUA                             U          1     0     1
YORKIE/MALTESE                               M          1     0     1
YORKIE/MALTESE X                             M          0     1     1
YORKIE/MALTESE/SHIH TZU                      M          1     0     1
YORKIE/PODDLE                                M          0     1     1
YORKIE/SHIH TZU                              M          0     1     1
YORKIPOO                                     M          1     1     2
YORKSHIRE / JACK RUSS                        F          1     0     1
YORKSHIRE / MALTESE MIX                      M          0     1     1
YORKSHIRE / SHIH TZU MIX                     M          0     1     1
YORKSHIRE TER/SHIHTZU                        M          0     1     1
YORKSHIRE TERRIER MIX                        M          0     1     1
YORKSHIRE/ TIBETAN TERRIER                   M          0     1     1
YORKSHIRE/SHIH TZU MIX                       M          1     0     1
YORKY-POODLE                                 U          1     0     1
Yorkshire Terrier                            F         21    21    42
                                             M         41    68   109
                                             U         79     0    79
Yorkshire Terrier Crossbreed                 F          1     1     2
                                             M          6     5    11
                                             U          2     0     2
All                                                  5545  2972  8517

[1328 rows x 3 columns]

In [41]:
nyc_bite_fixed.dtypes

Breed         object
Gender        object
SpayNeuter     int64
dtype: object

In [43]:
nyc_bite_fixed = (breed_list[breed_list >= 25])
len(nyc_bite_fixed)

52

In [44]:
nyc_bite_fixed = breed_list[0:52]
nyc_bite_fixed

Pit Bull                                1919
Shih Tzu                                 358
American Pit Bull Mix / Pit Bull Mix     347
American Pit Bull Terrier/Pit Bull       343
Chihuahua                                340
German Shepherd                          274
Mixed/Other                              267
Yorkshire Terrier                        230
UNKNOWN                                  188
Maltese                                  187
Rottweiler                               162
Labrador Retriever                       161
Bull dog                                 119
Siberian Husky                           117
Poodle, Standard                         108
Jack Russ                                108
Cocker Spaniel                            97
Labrador Retriever Crossbreed             82
American Staffordshire Terrier            80
TERRIER                                   79
Beagle                                    73
Boxer                                     64
Golden Retriever                          58
Pomeranian                                57
MIXED                                     54
Shiba Inu                                 52
Bull Dog, English                         45
Bull Dog, French                          45
Chihuahua Crossbreed                      44
Bichon Frise                              42
TERRIER MIX                               42
Cane Corso                                41
Chow Chow                                 41
MIXED BREED                               40
PIT BULL MIX                              38
Doberman Pinscher                         37
Boston Terrier                            37
Miniature Pinscher                        37
Lhasa Apso                                35
Poodle, Miniature                         35
Dachshund Smooth Coat                     34
Pekingese                                 31
German Shepherd Crossbreed                30
Akita                                     29
Havanese                                  27
SHEPHERD                                  26
Mastiff, Bull                             26
Bull Terrier                              25
Staffordshire Bull Terrier                25
MUTT                                      25
Australian Shepherd                       25
Poodle, Toy                               25
Name: Breed, dtype: int64

In [30]:
pa_data = pd.read_csv('https://raw.githubusercontent.com/DanielleRomanoff/DS-Unit-1-Project_Dog_Bites/master/PA%20Dangerous%20Dogs%201996-Current.csv')
pa_data.shape

(5565, 18)

In [32]:
pa_data.head()

,File Date,Determination Year,Status Description,County Description,Dog Info Age,Dog Info Breed,Dog Info Predator,County Key,Owner County,Court Disposition,Hearing Date,Owner First Name,Owner Last Name,Owner Address,Owner City,Owner State,Owner Zip,Location
0,12/12/2002,2002,Closed,BUCKS (7),2 YRS.,MIXED BREED,Dog,9,BUCKS (7),Guilty,02/28/2003,DAVID,GERSENSON,PO BOX 432,REVERE,PA,18953.0,"PO BOX 432\nREVERE, PA 18953"
1,06/30/2003,2003,Deceased,ALLEGHENY (4),11 YRS.,MIXED BREED,Dog,2,ALLEGHENY (4),Guilty,06/30/2003,SHANEA,NAKONECNY,2208 ORCHARD HILL ROAD,JEFFERSON HILLS,PA,15025.0,"2208 ORCHARD HILL ROAD\nJEFFERSON HILLS, PA 15025"
2,07/09/2003,2003,Deceased,BRADFORD (3),7 YRS.,Rottweiler,Dog,8,BRADFORD (3),Guilty,07/09/2003,THERON,WICKWIRE,"RR 2, BOX 100",WYSOX,PA,18854.0,"RR 2, BOX 100\nWYSOX, PA 18854"
3,06/10/2004,2004,Deceased,WESTMORELAND (4),ADULT,MIXED BREED,Dog,65,WESTMORELAND (4),Guilty,06/10/2004,VERONICA,SIMMS,RT 982 HOUSE 520,NEW DERRY,PA,15627.0,"RT 982 HOUSE 520\nNEW DERRY, PA 15627"
4,06/09/2004,2004,Closed,WYOMING (3),9 YRS.,Labrador Retriever,Dog,66,WYOMING (3),Guilty,06/03/2004,KIMBERLY,MERRYMAN,"RR 1, BOX 81",NOXEN,PA,18636.0,"RR 1, BOX 81\nNOXEN, PA 18636"

In [33]:
pa_data.isna().sum()

File Date                0
Determination Year       0
Status Description       0
County Description       0
Dog Info Age           376
Dog Info Breed           0
Dog Info Predator        0
County Key               0
Owner County            10
Court Disposition        1
Hearing Date          1243
Owner First Name        27
Owner Last Name         27
Owner Address           22
Owner City              22
Owner State             10
Owner Zip               43
Location                 0
dtype: int64

In [34]:
pa_data['Court Disposition'].value_counts()

Guilty            2985
Other             1192
Not Guilty         680
Dismissed          441
Ruling Pending     241
Appeal              25
Name: Court Disposition, dtype: int64

In [35]:
reasons_data = pd.read_csv('https://raw.githubusercontent.com/DanielleRomanoff/DS-Unit-1-Project_Dog_Bites/master/Reasons%20for%20bites%20with%20interpretation.csv')
reasons_data.shape

ParserError: Error tokenizing data. C error: Expected 2 fields in line 3, saw 3