In [101]:
import pandas as pd
import numpy as np

nyc_data = pd.read_csv('https://raw.githubusercontent.com/DanielleRomanoff/DS-Unit-1-Project_Dog_Bites/master/NYC%20dog%20bit%20data.csv')
nyc_data.shape

(8707, 9)

In [102]:
nyc_data.head()

,UniqueID,DateOfBite,Species,Breed,Age,Gender,SpayNeuter,Borough,ZipCode
0,8140,December 02 2015,DOG,Pug,7,F,True,Staten Island,NaN
1,1,January 27 2015,DOG,Jack Russ,11,M,False,Brooklyn,11217
2,2,January 25 2015,DOG,"Mastiff, Bull",NaN,U,False,Brooklyn,NaN
3,3,January 20 2015,DOG,PIT BULL/GOLDEN RETRIVE X,NaN,U,False,Brooklyn,11236
4,4,December 26 2014,DOG,Doberman Pinscher,NaN,M,False,Brooklyn,11204

In [103]:
nyc_data.isna().sum()

UniqueID         0
DateOfBite       0
Species          0
Breed            1
Age           3245
Gender           0
SpayNeuter       0
Borough          0
ZipCode       1864
dtype: int64

In [104]:
nyc_data['SpayNeuter'].value_counts()

False    5735
True     2972
Name: SpayNeuter, dtype: int64

In [105]:
breed_list = nyc_data['Breed'].value_counts()
breed_list

Pit Bull                                1919
Shih Tzu                                 358
American Pit Bull Mix / Pit Bull Mix     347
American Pit Bull Terrier/Pit Bull       343
Chihuahua                                340
German Shepherd                          274
Mixed/Other                              267
Yorkshire Terrier                        230
UNKNOWN                                  188
Maltese                                  187
Rottweiler                               162
Labrador Retriever                       161
Bull dog                                 119
Siberian Husky                           117
Jack Russ                                108
Poodle, Standard                         108
Cocker Spaniel                            97
Labrador Retriever Crossbreed             82
American Staffordshire Terrier            80
TERRIER                                   79
Beagle                                    73
Boxer                                     64
Golden Retriever                          58
Pomeranian                                57
MIXED                                     54
Shiba Inu                                 52
Bull Dog, French                          45
Bull Dog, English                         45
Chihuahua Crossbreed                      44
TERRIER MIX                               42
                                        ...
GERMAN SHEPHERD / CHOW MIX                 1
AUS KELPIE/ LAB RETR                       1
BEAGLE / CHIHUAHUA MIX                     1
CHIHUAHUA / BIJON MIX                      1
AMERICAN ESKIMO / HUSKY MIX                1
LAB/ PIT BULL MIX                          1
YELLOW LAB/BEAGLE X                        1
KING SHEPHARD / PIT BULL MIX               1
TERRIER HOUND X                            1
STAFFORDSHIRE                              1
PIT BULL/DOGO ARGENTINO                    1
PIT BULL /BULL DOG                         1
ENG FRENCH PIT BULL                        1
ALASKAN KLEE KAI                           1
ROTTWEILER/BOXER                           1
BEAGLE/JACK RUSSELL                        1
BULDOG MIX/ LAB MIX                        1
FOX HOUND                                  1
PIT BULL/DACHSHUND                         1
MINI GOLDEN DODDLE                         1
DALMATION MIX                              1
MINIATURE SCHNAUZER                        1
Schnoodle                                  1
BOXER X W/ PIT BULL                        1
HEELER X                                   1
AKITA/CHOW CHOW                            1
ITALIAN MASTIFF                            1
WEST HIGHLAND TERR                         1
CHOW CHOW/SHEPARD X                        1
LAB/CHOW CHOW X                            1
Name: Breed, Length: 1034, dtype: int64

In [132]:
nyc_data_new = nyc_data.drop(columns = ['Age', 'ZipCode'])
nyc_data_new = nyc_data_new.drop(nyc_data[nyc_data['Breed'] == 'UNKNOWN'].index)
nyc_data_new = nyc_data_new.drop(nyc_data[nyc_data['Breed'] == 'not given'].index)
nyc_data_new['SpayNeuter'] = nyc_data_new['SpayNeuter'].replace({False: 0, True: 1})
# nyc_data_new = nyc_data_new.drop(breed_list < 25, axis = 0)
nyc_bite_fixed = pd.DataFrame(nyc_data_new, columns = ['Breed', 'SpayNeuter'])
nyc_bite_fixed.head()

                       Breed  SpayNeuter
0                        Pug           1
1                  Jack Russ           0
2              Mastiff, Bull           0
3  PIT BULL/GOLDEN RETRIVE X           0
4          Doberman Pinscher           0

In [133]:

nyc_bite_fixed.pivot_table(index = ['Breed', 'SpayNeuter'],  aggfunc = 'count')

Empty DataFrame
Columns: []
Index: [(/SHIH TZU MIX, 0), (2 DOGS: TERR X & DOBERMAN, 1), (AFRICAN BOERBOEL, 0), (AIREDALE TERRIER, 1), (AKITA/CHOW CHOW, 0), (ALAPAHA BULLDOG, 0), (ALASKA HUSKY, 0), (ALASKAN HUSKY, 0), (ALASKAN HUSKY, 1), (ALASKAN HUSKY MIX, 0), (ALASKAN HUSKY/LABRADOR RETR, 0), (ALASKAN KLEE KAI, 0), (ALASKAN MALAMUTE, 0), (ALASKAN MALMUTE, 0), (ALPACA, 0), (AMER BULL TERRIER, 0), (AMER STAFF/AM PIT BULL TERR, 1), (AMER STAFF/LAB X, 0), (AMER STAFFORDSHIRE X, 1), (AMERICAN BULL, 0), (AMERICAN BULL / STAFFORD TERRIER, 1), (AMERICAN BULL DOG, 0), (AMERICAN BULLDOG, 0), (AMERICAN BULLDOG, 1), (AMERICAN BULLDOG/GREAT PYRENEES, 1), (AMERICAN BULLY, 0), (AMERICAN BULLY, 1), (AMERICAN BULLY (PIT BULL), 1), (AMERICAN BULLY MIX, 1), (AMERICAN ESKIMO / HUSKY MIX, 1), (AMERICAN ESKIMO MIX, 1), (AMERICAN PIT BULL/LABRADOR, 0), (AMERICAN PIT TER/LABRADOR RETR, 0), (AMERICAN PITBULL/ LABRADOR RETRIEVER, 0), (AMERICAN STAFF MIX, 0), (AMERICAN STAFF TER X, 0), (AMERICAN STAFF/AKITA, 0), (AMERICAN STAFFORD AND LABRADOR MIX, 0), (AMERICAN STAFFORD MIX, 1), (AMERICAN STAFFORDSHIRE / PIT BULL, 0), (AMERICAN STAFFORDSHIRE / PIT BULL MIX, 0), (AMERICAN STAFFORDSHIRE TERRIER / PIT BULL, 1), (AMERICAN STAFFORDSHIRE X, 0), (AMERICAN TERRIER, 0), (AUS KELPIE/ LAB RETR, 1), (AUST CATTLE DOG, 0), (AUST KELPIE/AM PIT BULL X, 0), (AUST TERRIER/ YORKIE, 1), (AUSTRALIAN BORDER COLLIE, 1), (AUSTRALIAN CATTLE, 0), (AUSTRALIAN CATTLE, 1), (AUSTRALIAN CATTLE BLUE HEELER X, 1), (AUSTRALIAN CATTLE DOG, 0), (AUSTRALIAN CATTLE DOG, 1), (AUSTRALIAN CATTLE DOG MIX, 1), (AUSTRALIAN CATTLE MIX, 1), (AUSTRALIAN CATTLEDOG, 1), (AUSTRALIAN CATTLEDOG X, 1), (AUSTRALIAN HERD DOG, 0), (AUSTRALIAN SHEEP DOG, 1), (AUSTRALIAN SHEP/DALMATION/PITBULL, 1), (AUSTRALIAN SHEPHERD / LPHASA APSO, 0), (AUSTRALIAN SHEPHERD MIX, 1), (Akita, 0), (Akita, 1), (Akita Crossbreed, 0), (Alaskan Klee Kai, 0), (Alaskan Klee Kai, 1), (American Eskimo, 0), (American Eskimo, 1), (American Pit Bull Mix / Pit Bull Mix, 0), (American Pit Bull Mix / Pit Bull Mix, 1), (American Pit Bull Terrier/Pit Bull, 0), (American Pit Bull Terrier/Pit Bull, 1), (American Staffordshire Terrier, 0), (American Staffordshire Terrier, 1), (Australian Kelpie, 0), (Australian Shepherd, 0), (Australian Shepherd, 1), (BASENJI, 0), (BASENJI, 1), (BASENJI MIX, 1), (BASENJI TERRIER X, 1), (BASSET HOUND, 0), (BASSET HOUND MIX, 1), (BASSET HOUND X, 1), (BEAGLE, 1), (BEAGLE - X, 1), (BEAGLE -X, 1), (BEAGLE / CHIHUAHUA MIX, 0), (BEAGLE / COCKERSPANIEL MIX, 0), (BEAGLE / DALMATION MIX, 1), (BEAGLE / HOUND MIX, 1), (BEAGLE HOUND, 1), (BEAGLE HOUND MIX, 0), (BEAGLE MIX, 0), (BEAGLE MIX, 1), (BEAGLE MIXED, 1), (BEAGLE X - BASSET, 1), (BEAGLE/ ENG SPRINGER SPANIEL, 1), ...]

[1237 rows x 0 columns]

In [72]:
min_value_bites = (breed_list[breed_list >= 25])
len(min_value_bites)

51

In [73]:
breed_count = breed_list[0:51]
breed_count

Pit Bull                                1919
Shih Tzu                                 358
American Pit Bull Mix / Pit Bull Mix     347
American Pit Bull Terrier/Pit Bull       343
Chihuahua                                340
German Shepherd                          274
Mixed/Other                              267
Yorkshire Terrier                        230
Maltese                                  187
Rottweiler                               162
Labrador Retriever                       161
Bull dog                                 119
Siberian Husky                           117
Poodle, Standard                         108
Jack Russ                                108
Cocker Spaniel                            97
Labrador Retriever Crossbreed             82
American Staffordshire Terrier            80
TERRIER                                   79
Beagle                                    73
Boxer                                     64
Golden Retriever                          58
Pomeranian                                57
MIXED                                     54
Shiba Inu                                 52
Bull Dog, French                          45
Bull Dog, English                         45
Chihuahua Crossbreed                      44
Bichon Frise                              42
TERRIER MIX                               42
Cane Corso                                41
Chow Chow                                 41
MIXED BREED                               40
PIT BULL MIX                              38
Doberman Pinscher                         37
Boston Terrier                            37
Miniature Pinscher                        37
Poodle, Miniature                         35
Lhasa Apso                                35
Dachshund Smooth Coat                     34
Pekingese                                 31
German Shepherd Crossbreed                30
Akita                                     29
Havanese                                  27
SHEPHERD                                  26
Mastiff, Bull                             26
MUTT                                      25
Bull Terrier                              25
Australian Shepherd                       25
Staffordshire Bull Terrier                25
Poodle, Toy                               25
Name: Breed, dtype: int64