In [1]:
import pandas as pd
import numpy as np

nyc_data = pd.read_csv('https://raw.githubusercontent.com/DanielleRomanoff/DS-Unit-1-Project_Dog_Bites/master/NYC%20dog%20bite%20data.csv')
nyc_data.shape

(8707, 9)

In [5]:
nyc_data.head()

,UniqueID,DateOfBite,Species,Breed,Age,Gender,SpayNeuter,Borough,ZipCode
0,8140,December 02 2015,DOG,Pug,7,F,True,Staten Island,NaN
1,1,January 27 2015,DOG,Jack Russ,11,M,False,Brooklyn,11217
2,2,January 25 2015,DOG,"Mastiff, Bull",NaN,U,False,Brooklyn,NaN
3,3,January 20 2015,DOG,PIT BULL/GOLDEN RETRIVE X,NaN,U,False,Brooklyn,11236
4,4,December 26 2014,DOG,Doberman Pinscher,NaN,M,False,Brooklyn,11204

In [6]:
nyc_data.isna().sum()

UniqueID         0
DateOfBite       0
Species          0
Breed            1
Age           3245
Gender           0
SpayNeuter       0
Borough          0
ZipCode       1864
dtype: int64

In [7]:
nyc_data['SpayNeuter'].value_counts()

False    5735
True     2972
Name: SpayNeuter, dtype: int64

In [8]:
breed_list = nyc_data['Breed'].value_counts()
breed_list

Pit Bull                                    1919
Shih Tzu                                     358
American Pit Bull Mix / Pit Bull Mix         347
American Pit Bull Terrier/Pit Bull           343
Chihuahua                                    340
German Shepherd                              274
Mixed/Other                                  267
Yorkshire Terrier                            230
UNKNOWN                                      188
Maltese                                      187
Rottweiler                                   162
Labrador Retriever                           161
Bull dog                                     119
Siberian Husky                               117
Jack Russ                                    108
Poodle, Standard                             108
Cocker Spaniel                                97
Labrador Retriever Crossbreed                 82
American Staffordshire Terrier                80
TERRIER                                       79
Beagle                                        73
Boxer                                         64
Golden Retriever                              58
Pomeranian                                    57
MIXED                                         54
Shiba Inu                                     52
Bull Dog, English                             45
Bull Dog, French                              45
Chihuahua Crossbreed                          44
Bichon Frise                                  42
                                            ...
PARSON RUSSELL TERRIEER                        1
RED-NOSE PIT BULL                              1
PIT BULL /GERMAN SHEPHERD MIX                  1
BEAGLE / DALMATION MIX                         1
SHIH TZU COKER SPANIEL MIX                     1
SIBERIAN PIT BULL                              1
MINI DOBERMAN                                  1
WIRED HAIR TERRIER X                           1
WEST HIGHLAND TERRIER/ YORKSHIRE TERRIER       1
ALASKAN MALMUTE                                1
PEKINGESE /POODIE MIX                          1
STAFFORDSHIRE TERRIER                          1
CHOW CHOW/ PIT BULL                            1
BOXER/RHODESIAN RIDGEBACK X                    1
MALTESE/CHIHUAHUA X                            1
BORDER COLLIE/JACK RUSSELL                     1
GOLDEN RETRIEVER / DOODLE MIX                  1
COATED XOLO                                    1
LARGE BREED MIX                                1
MASTIFF/AM PIT BULL TERR                       1
YORKIE/MALTESE/SHIH TZU                        1
AUSTRALIAN SHEP/DALMATION/PITBULL              1
WHITE POINT GRIFFON                            1
QUEENSLAND BLUE HEALER                         1
LABRADOR/COCKER SPANIEL                        1
CORGI/CHIHUAHUA X                              1
GOLDEN RETRIEVER                               1
AUSTRALIAN HERD DOG                            1
SCHNOODLE- POODLE/SCHNAUZER                    1
STAFFORDSHIRE TERRIER/PITBULL MIX              1
Name: Breed, Length: 1034, dtype: int64

In [9]:
nyc_data_new = nyc_data.drop(columns = ['Age', 'ZipCode'])
nyc_data_new = nyc_data_new.drop(nyc_data[nyc_data['Breed'] == 'UNKNOWN'].index)
nyc_data_new = nyc_data_new.drop(nyc_data[nyc_data['Breed'] == 'not given'].index)
nyc_data_new['SpayNeuter'] = nyc_data_new['SpayNeuter'].replace({False: 0, True: 1})
# nyc_data_new = nyc_data_new.drop(breed_list < 25, axis = 0)
nyc_bite_fixed = pd.DataFrame(nyc_data_new, columns = ['Breed', 'SpayNeuter'])
nyc_bite_fixed.head()

                       Breed  SpayNeuter
0                        Pug           1
1                  Jack Russ           0
2              Mastiff, Bull           0
3  PIT BULL/GOLDEN RETRIVE X           0
4          Doberman Pinscher           0

In [10]:

nyc_bite_fixed.pivot_table(index = ['Breed', 'SpayNeuter'],  aggfunc = 'count')

                                              SpayNeuter
Breed
/SHIH TZU MIX                                          1
2 DOGS: TERR X & DOBERMAN                              1
AFRICAN BOERBOEL                                       1
AIREDALE TERRIER                                       1
AKITA/CHOW CHOW                                        1
ALAPAHA BULLDOG                                        1
ALASKA HUSKY                                           1
ALASKAN HUSKY                                          2
ALASKAN HUSKY MIX                                      1
ALASKAN HUSKY/LABRADOR RETR                            1
ALASKAN KLEE KAI                                       1
ALASKAN MALAMUTE                                       1
ALASKAN MALMUTE                                        1
ALPACA                                                 1
AMER BULL TERRIER                                      1
AMER STAFF/AM PIT BULL TERR                            1
AMER STAFF/LAB X                                       1
AMER STAFFORDSHIRE X                                   1
AMERICAN BULL                                          1
AMERICAN BULL / STAFFORD TERRIER                       1
AMERICAN BULL DOG                                      2
AMERICAN BULLDOG                                       4
AMERICAN BULLDOG/GREAT PYRENEES                        1
AMERICAN BULLY                                         9
AMERICAN BULLY (PIT BULL)                              1
AMERICAN BULLY MIX                                     1
AMERICAN ESKIMO / HUSKY MIX                            1
AMERICAN ESKIMO MIX                                    1
AMERICAN PIT BULL/LABRADOR                             1
AMERICAN PIT TER/LABRADOR RETR                         1
...                                                  ...
YELLOW LAB/BEAGLE X                                    1
YORKIE                                                 1
YORKIE / CHIHUAHUA MIX                                 1
YORKIE / JACK RUSSELL MIX                              1
YORKIE / POODLE MIX                                    1
YORKIE CHON                                            1
YORKIE MALTESE MIX                                     1
YORKIE MIX                                             2
YORKIE POO                                             1
YORKIE POO- YORKSHIRE TERRIER/MALTESE/POODLE           1
YORKIE POODLE                                          1
YORKIE/ SHIH TZU                                       1
YORKIE/BICHON                                          1
YORKIE/CHIHUAHUA                                       1
YORKIE/MALTESE                                         1
YORKIE/MALTESE X                                       1
YORKIE/MALTESE/SHIH TZU                                1
YORKIE/PODDLE                                          1
YORKIE/SHIH TZU                                        1
YORKIPOO                                               2
YORKSHIRE / JACK RUSS                                  1
YORKSHIRE / MALTESE MIX                                1
YORKSHIRE / SHIH TZU MIX                               1
YORKSHIRE TER/SHIHTZU                                  1
YORKSHIRE TERRIER MIX                                  1
YORKSHIRE/ TIBETAN TERRIER                             1
YORKSHIRE/SHIH TZU MIX                                 1
YORKY-POODLE                                           1
Yorkshire Terrier                                    230
Yorkshire Terrier Crossbreed                          15

[1032 rows x 1 columns]

In [11]:
min_value_bites = (breed_list[breed_list >= 25])
len(min_value_bites)

52

In [12]:
breed_count = breed_list[0:52]
breed_count

Pit Bull                                1919
Shih Tzu                                 358
American Pit Bull Mix / Pit Bull Mix     347
American Pit Bull Terrier/Pit Bull       343
Chihuahua                                340
German Shepherd                          274
Mixed/Other                              267
Yorkshire Terrier                        230
UNKNOWN                                  188
Maltese                                  187
Rottweiler                               162
Labrador Retriever                       161
Bull dog                                 119
Siberian Husky                           117
Jack Russ                                108
Poodle, Standard                         108
Cocker Spaniel                            97
Labrador Retriever Crossbreed             82
American Staffordshire Terrier            80
TERRIER                                   79
Beagle                                    73
Boxer                                     64
Golden Retriever                          58
Pomeranian                                57
MIXED                                     54
Shiba Inu                                 52
Bull Dog, English                         45
Bull Dog, French                          45
Chihuahua Crossbreed                      44
Bichon Frise                              42
TERRIER MIX                               42
Chow Chow                                 41
Cane Corso                                41
MIXED BREED                               40
PIT BULL MIX                              38
Doberman Pinscher                         37
Boston Terrier                            37
Miniature Pinscher                        37
Poodle, Miniature                         35
Lhasa Apso                                35
Dachshund Smooth Coat                     34
Pekingese                                 31
German Shepherd Crossbreed                30
Akita                                     29
Havanese                                  27
SHEPHERD                                  26
Mastiff, Bull                             26
Staffordshire Bull Terrier                25
MUTT                                      25
Australian Shepherd                       25
Poodle, Toy                               25
Bull Terrier                              25
Name: Breed, dtype: int64